.product-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
  }

.product-image{
    /* height: 300px;
    width: 257px; */
    display: flex;
    justify-items: center;
}

.product-image img {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 8px;
  }
  

  .product-details {
    margin-top: 15px;
  }
  
  .product-details .product-name {
    font-size: 1.2rem;
    color: #333;
    height: 45px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .product-details .product-price, .product-point {
    font-size: 0.9rem;
    margin: 0;
    color: #777;
  }
  
  .product-btn{
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }

  .product-btn *{
    margin: 0 5px;
  }

  .product-details .btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #adb5bd;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .product-details .details:hover {
    background-color: #8b8d90;
  }

  .product-details .carrito{
    background-color: #f0ad4e;
  }

  .product-details .carrito:hover{
    background-color: #b67d2d;
  }